<div class="blog-post">
    <section class="content-list">
        <h2>{{title}}</h2>
        <h3>created by <span>{{user.username}}</span> on <span>{{format_date date}}</span></h3>
    </section>
    <section class="content-section">
        <p>{{content}}</p>
    </section>
</div>

<h4 class="comment-section">Comments Section</h4>

{{#each comments}}
<div>
    <section class="content-list comment-list">
        <p class="comment">{{content}}</p>
        <p class="comment signature">-{{user.username}} on {{format_date date}}</p>
    </section>
</div>
{{/each}}

<div>
    <form class="comment-form">
        <div class="comment-field">
            <label for="comment-input">Add your comment here:</label>
            <textarea class="comment-input-form" rows="5" placeholder="Remember to keep the conversation civil!"
                id="comment"></textarea>
        </div>

        <div class="button-container">
            <button class="standard-button" data-blogid="{{id}}">Submit Comment</button>
        </div>
    </form>
</div>


<script src="/js/comment.js"></script>